@{
    ViewData["Title"] = "Archives";
}
<div class="card z-index-0 fadeIn3 fadeInBottom bg shadow-dark">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">
                list
            </i>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Function</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Employed</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>